<!DOCTYPE html>
<html>
  <head>
    <title>Create a Program</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"
      rel="stylesheet"
    />

    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <div class="testbox">
    <form action="/">
      <div class="banner">
        <h1>Create a Program</h1>
      </div>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <div class="columns">
        <div class="row">
          <label for="program"><strong>Name of the Program*</strong></label>
          <input class="field" id="program" name="name" required="" type="text" />
        </div>
        <div> <p>   </p></div>
        <div class="row">
          <label for="time"><strong>Duration (in minutes)*</strong></label>
          <input class="field" id="time" name="time" required="" type="tel" />
        </div>
      </div>
      <div> <p>   </p></div>
      <div class="row">
        <div class=" item">
            <p><strong>Temperature</strong></p>
            <select>
            <option disabled="disabled" selected="selected" value=""></option>
            <option value="b">Beef</option>
            <option value="ch">Chicken</option>
            <option value="v">Vegetarian</option>
            <option value="n">None</option>
            </select>
        </div>
        <div class=" item">
        <p><strong>Spin</strong></p>
        <select>
          <option disabled="disabled" selected="selected" value=""></option>
          <option value="b">Beef</option>
          <option value="ch">Chicken</option>
          <option value="v">Vegetarian</option>
          <option value="n">None</option>
        </select>
        </div>
        <div class=" item">
        <p><strong>Color</strong></p>
        <select>
          <option disabled="disabled" selected="selected" value=""></option>
          <option value="b">Beef</option>
          <option value="ch">Chicken</option>
          <option value="v">Vegetarian</option>
          <option value="n">None</option>
        </select>
        </div>
        <div class=" item">
        <p><strong>Type of Cloth</strong></p>
        <select>
          <option disabled="disabled" selected="selected" value=""></option>
          <option value="b">Beef</option>
          <option value="ch">Chicken</option>
          <option value="v">Vegetarian</option>
          <option value="n">None</option>
        </select>
        </div>
      </div>
    <div> 
        <p>   </p> 
        <p>   </p>
    </div>
      
      <div class="checkbox">
            <div>
              <input
                id="check1"
                name="prewash"
                type="checkbox"
                value="yes"
                
              />&nbsp;<strong>Prewash</strong
            </div>
            <div> <p> </p></div>
            <div>
              <input
                id="check2"
                name="prewash"
                type="checkbox"
                value="yes"
              />&nbsp;<strong>Eco saver</strong>
            </div>
            <div> <p> </p></div>
            <div> <p> </p></div>
        
          
          
        </div>
        <div> 
        <p>   </p> 
        <p>   </p>
    </div>
      </div>
      <div class="row"><button type="submit">Add</button></div>
    </form>
  </div>
</html>
