<html>
  <body>
    <p style="text-align: center">&nbsp;</p>

    <p style="text-align: center">&nbsp;</p>

    <p style="text-align: center">&nbsp;</p>

    <h1 style="text-align: center">
      <span style="font-size: 24px"><strong>START YOUR LAUNDRY!</strong></span>
    </h1>

    <button
      style="
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 300px;
        height: 150px;
        background-color: crimson;
      "
    >
      <a href="/program"></a>START
    </button>
  </body>
</html>
