<!DOCTYPE html>
<html>
  <head>
    <title>Create a Program</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"
      rel="stylesheet"
    />

    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <div class="testbox">
    <form action="/">
      <div class="banner">
        <h1>Adjust the Program</h1>
      </div>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <div class="columns">
        <div class="row">
          <label><strong>Program Number</strong>
          <select name="number">
            {% for prog in progs %}
            <option value="{{prog[0]}}">
              {{prog[0]}}
            </option>
            {% endfor %}
          </select>
          </textarea></label>
          
          <label for="time"><strong>Duration (in minutes)</strong>
            <textarea value="minutes"></textarea>
          </label>
          
          <div class="checkbox">
            <div>
              <input
                id="check1"
                name="prewash"
                type="checkbox"
                value="yes"
                
              />&nbsp;<strong>Prewash</strong>
            </div>
            <div> <p> </p></div>
            <div>
              <input
                id="check2"
                name="prewash"
                type="checkbox"
                value="yes"
              />&nbsp;<strong>Eco saver</strong>
            </div>
            <div> <p> </p></div>
            <div> <p> </p></div>
        
          
          
        </div>
        </div>
      </div>
      
      <div class="row">
        <div class=" item">
            <p><strong>Temperature</strong></p>
            <select>
              {% for prog in progs %}
            <option disabled="disabled"  value="{{prog[2]}}">{{prog[2]}}</option>
              {% endfor %}
            </select>

        </div>
        <div class="item">
        <p><strong>Spin</strong></p>
        <select>
          {% for spin in spins %}
          <option disabled="disabled" selected="selected" value="{{spin[0]}}">{{spin[0]}}</option>
          {% endfor %}
        </select>
        </div>
        <div class=" item">
        <p><strong>Color</strong></p>
        <select name="color">
          {% for color in colors %}
          <option value="{{color[]}}"></option>
          {% endfor %}
        </select>
        </div>
        <div class=" item">
        <p><strong>Type of Cloth</strong></p>
        <select>
          {% for cloth in clothes %}
          <option disabled="disabled" selected="selected" value="{{cloth[0]}}">{{cloth[0]}}</option>
          {% endfor %}
        </select>
        </div>
      </div>
    <div> 
        <p>   </p> 
        <p>   </p>
    </div>
      
        <div> 
        <p>   </p> 
        <p>   </p>
    </div>
      </div>
           <table class="row">
        <tr class="tablerow">
            <th>name of piece of cloth</th>
        </tr>
        </table>
      <div class="scrollable">
      <table class="row">
        
        <tr class="tablerow" id="1">
            <th>1</th>
           
        </tr>
      </table>
      </div>
    </form>
  </div>
</html>
